<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand">Task</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item d-none">
                    <a class="nav-link active" aria-current="page" routerLink="home">Dashboard</a>
                </li>
                <li class="nav-item" (click)="getRoleFromLocalStorage()">
                    <a class="nav-link active" aria-current="page" routerLink="note">Note</a>
                </li>
                <li class="nav-item" *ngIf="checkA">
                    <a class="nav-link active" aria-current="page" routerLink="a">A</a>
                </li>
                <li class="nav-item" *ngIf="checkB">
                    <a class="nav-link active" aria-current="page" routerLink="b">B</a>
                </li>
                <li class="nav-item" *ngIf="checkC">
                    <a class="nav-link active" aria-current="page" routerLink="c"></a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="login">login</a>
                </li>
                <li class="nav-item">
                    <a (click)="callLogOutMethod()" class="nav-link active" aria-current="page" routerLink="logout">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>