.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

form {
    background-color: mediumaquamarine;
    width: 30%;
    padding: 50px;
    border-radius: 10px;
}